 <!-- Page Header -->
 <div class="page-header row no-gutters py-4 zindexmin">
     <div>
      <span class="page-subtitle colorblue">Home</span>
      <h3 class="page-title colorblue">Dell Sales Overview</h3>
        
    </div>
  </div>
   <!-- Small Stats Blocks -->
   <div class="row zindexmin">
    <div class="col-lg col-md-6 col-sm-6 mb-4 zindexmin">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Global Sales</span>
              <h6 class="stats-small__value count my-3">2,390</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase mediumfont">4.7%</span>
            </div>
          </div>
          <canvas height="120" class="blog-overview-stats-small-1"></canvas>
        </div>
       
      </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4 zindexmin">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Global Delivery</span>
              <h6 class="stats-small__value count my-3">182</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase mediumfont">12.4%</span>
            </div>
          </div>
          <canvas height="120" class="blog-overview-stats-small-2"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4 zindexmin">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Global Pending Delivery</span>
              <h6 class="stats-small__value count my-3">8,147</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--decrease mediumfont">3.8%</span>
            </div>
          </div>
          <canvas height="120" class="blog-overview-stats-small-3"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg col-md-6 col-sm-6 mb-4 zindexmin">
      <div class="stats-small stats-small--1 card card-small">
        <div class="card-body p-0 d-flex">
          <div class="d-flex flex-column m-auto">
            <div class="stats-small__data text-center">
              <span class="stats-small__label text-uppercase">Delivery On Time</span>
              <h6 class="stats-small__value count my-3">2,413</h6>
            </div>
            <div class="stats-small__data">
              <span class="stats-small__percentage stats-small__percentage--increase mediumfont">12.4%</span>
            </div>
          </div>
          <canvas height="120" class="blog-overview-stats-small-4"></canvas>
        </div>
      </div>
    </div>
   </div>
  <!-- End Small Stats Blocks -->