<footer class="main-footer d-flex p-2 px-3 bg-white border-top bigfont">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Global Delvery Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sales Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Insights</a>
      </li>
    </ul>
  </footer>
